version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_DB: myshop_90iq
      POSTGRES_USER: pgadmin
      POSTGRES_PASSWORD: Jjw0H30KSJVn44rhm52s6sE5YYkF2cqS
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  app:
    build: .
    container_name: springboot_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://dpg-d4gudlvdiees73b6p1og-a:5432/myshop_90iq
      SPRING_DATASOURCE_USERNAME: pgadmin
      SPRING_DATASOURCE_PASSWORD: Jjw0H30KSJVn44rhm52s6sE5YYkF2cqS
    restart: always

volumes:
  pgdata:
